doctype html
html(lang='en')
  include head.jade
  body
    .wrap

      #current
        .symbol AAPL
        .exchange NYSE
        .price 34.56
        .percent 0%

      #time
        #progress
        #time-text We are #[span 0]% through the trading day.

      #more

      #notes
        h5 Developer Notes #[i Last updated: June 9, 2015]
        ul
          li Data is currently simulated! Back-end is being built
          li Adding/removing/rearranging in development
          li Only mobile-size is present, larger views to come later
          li All Javascript is custom (no libraries)
          li Source available on #[a(href='//github.com/gswalden/uptix') GitHub]

    include scripts.jade
